.button{
    padding: 1px 20px;
}

.primary{
   
    cursor: pointer;
   
   
    background-color: rgb(229, 165, 45);
    border: 1px solid black;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-weight: 600;

}
.secondary{
         
   
    border: 1px solid rgb(255, 153, 0);
    cursor: pointer;
    border-radius: 2px;
    background-color: rgb(255, 255, 255); 
    color: rgb(255, 174, 0);
    font-weight: 600;

}
.teritiary{
   
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(255, 174, 0);
    font-weight: 600;
}